In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [2]:
df = pd.read_excel('NIFTY50stocks.xlsx')
df

,DATE,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,...,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL,INFY,HEROMOTOCO,ADANIPORTS
0,2010-01-11,591.90,423.70,3792.50,6737.95,735.60,1093.20,2116.10,2190.70,1170.60,...,467.25,798.60,335.30,1513.60,1530.75,2705.05,nil,nil,nil,nil
1,2010-01-12,613.55,414.70,3781.90,5443.70,671.15,988.80,2094.10,448.65,1286.75,...,481.65,713.30,350.55,1424.45,1571.20,2680.40,nil,nil,nil,nil
2,2010-02-11,599.05,433.85,3818.70,6735.25,724.55,1074.85,2164.55,2190.45,1154.25,...,472.10,806.40,329.25,1526.60,1548.75,2792.80,nil,nil,nil,nil
3,2010-02-12,622.75,426.05,3784.20,5368.40,676.35,1011.15,2022.35,452.90,1320.15,...,484.35,741.85,346.10,1455.35,1574.30,2651.85,nil,nil,nil,nil
4,2010-03-11,609.60,434.70,3833.05,6858.65,732.50,1065.30,2261.40,2249.30,1185.55,...,480.15,799.25,328.40,1536.10,1582.35,2694.90,nil,nil,nil,nil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721,2021-12-04,851.55,432.60,1510.45,1121.70,1039.85,1911.15,29881.05,619.35,286.55,...,9163.15,4511.00,522.45,635.60,3541.00,2602.20,589.55,1425.75,2786.1,738.55
2722,2021-12-05,1179.15,507.60,1454.95,6388.85,962.35,1913.15,26833.25,702.85,326.00,...,11087.95,5358.40,561.75,691.30,3875.25,2556.20,691.65,1327,2840.15,751.6
2723,2021-12-07,1226.95,525.85,1719.85,7093.75,1056.60,2084.10,28034.95,668.55,307.45,...,12908.90,6149.55,529.65,753.60,3956.15,2999.40,821.45,1547.85,2898.2,718.05
2724,2021-12-08,1435.35,605.85,1823.60,7468.70,1386.55,2110.50,26593.00,778.65,306.00,...,14340.70,6199.50,623.15,757.35,3769.35,2975.50,777.1,1689.6,2782.95,704.05
2725,2021-12-10,1329.10,659.10,2492.60,7250.15,1374.45,2667.80,27705.80,829.70,420.85,...,18222.65,7855.75,686.35,797.15,3978.75,3323.25,744.3,1685.15,2916.65,736.9

In [3]:
df.info

<bound method DataFrame.info of            DATE  TATASTEEL   WIPRO    TITAN  ULTRACEMO    TECHM  RELIANCE  \
0    2010-01-11     591.90  423.70  3792.50    6737.95   735.60   1093.20
1    2010-01-12     613.55  414.70  3781.90    5443.70   671.15    988.80
2    2010-02-11     599.05  433.85  3818.70    6735.25   724.55   1074.85
3    2010-02-12     622.75  426.05  3784.20    5368.40   676.35   1011.15
4    2010-03-11     609.60  434.70  3833.05    6858.65   732.50   1065.30
...         ...        ...     ...      ...        ...      ...       ...
2721 2021-12-04     851.55  432.60  1510.45    1121.70  1039.85   1911.15
2722 2021-12-05    1179.15  507.60  1454.95    6388.85   962.35   1913.15
2723 2021-12-07    1226.95  525.85  1719.85    7093.75  1056.60   2084.10
2724 2021-12-08    1435.35  605.85  1823.60    7468.70  1386.55   2110.50
2725 2021-12-10    1329.10  659.10  2492.60    7250.15  1374.45   2667.80

      SHREECEM  SUNPHARMA  TATAMOTORS  ...  BAJAJFINSERV  BAJAJFINANCE  \
0      2116.10    2190.70     1170.60  ...        467.25        798.60
1      2094.10     448.65     1286.75  ...        481.65        713.30
2      2164.55    2190.45     1154.25  ...        472.10        806.40
3      2022.35     452.90     1320.15  ...        484.35        741.85
4      2261.40    2249.30     1185.55  ...        480.15        799.25
...        ...        ...         ...  ...           ...           ...
2721  29881.05     619.35      286.55  ...       9163.15       4511.00
2722  26833.25     702.85      326.00  ...      11087.95       5358.40
2723  28034.95     668.55      307.45  ...      12908.90       6149.55
2724  26593.00     778.65      306.00  ...      14340.70       6199.50
2725  27705.80     829.70      420.85  ...      18222.65       7855.75

      BHARTIARTL  AXISBANK  BAJAJ-AUTO  ASIANPAINT     UPL     INFY  \
0         335.30   1513.60     1530.75     2705.05     nil      nil
1         350.55   1424.45     1571.20     2680.40     nil      nil
2         329.25   1526.60     1548.75     2792.80     nil      nil
3         346.10   1455.35     1574.30     2651.85     nil      nil
4         328.40   1536.10     1582.35     2694.90     nil      nil
...          ...       ...         ...         ...     ...      ...
2721      522.45    635.60     3541.00     2602.20  589.55  1425.75
2722      561.75    691.30     3875.25     2556.20  691.65     1327
2723      529.65    753.60     3956.15     2999.40  821.45  1547.85
2724      623.15    757.35     3769.35     2975.50   777.1   1689.6
2725      686.35    797.15     3978.75     3323.25   744.3  1685.15

      HEROMOTOCO  ADANIPORTS
0            nil         nil
1            nil         nil
2            nil         nil
3            nil         nil
4            nil         nil
...          ...         ...
2721      2786.1      738.55
2722     2840.15       751.6
2723      2898.2      718.05
2724     2782.95      704.05
2725     2916.65       736.9

[2726 rows x 47 columns]>

In [4]:
df.shape

(2726, 47)

In [5]:
#All the columns
df.columns

Index(['DATE', 'TATASTEEL', 'WIPRO', 'TITAN', 'ULTRACEMO', 'TECHM', 'RELIANCE',
       'SHREECEM', 'SUNPHARMA', 'TATAMOTORS', 'TCS', 'SBIN', 'NESTLEIND',
       'NTPC', 'M&M', 'MARUTI', 'ONGC', 'POWERGRID', 'JSWSTEEL', 'KOTAKBANK',
       'LT', 'ICICIBANK', 'INDUSBANK', 'IOC', 'ITC', 'HINDALCO', 'HINDUNILVR',
       'HCL TECH', 'HDFC BANK', 'HDFC', 'DRREDDYS', 'EICHERMOTOR', 'GRASIM',
       'CIPLA', 'COALINDIA', 'BPCL', 'BRITANNIA', 'BAJAJFINSERV',
       'BAJAJFINANCE', 'BHARTIARTL', 'AXISBANK', 'BAJAJ-AUTO', 'ASIANPAINT',
       'UPL', 'INFY', 'HEROMOTOCO', 'ADANIPORTS'],
      dtype='object')

In [6]:
df.loc[:20, ['UPL', 'INFY', 'HEROMOTOCO', 'ADANIPORTS']]

    UPL INFY HEROMOTOCO ADANIPORTS
0   nil  nil        nil        nil
1   nil  nil        nil        nil
2   nil  nil        nil        nil
3   nil  nil        nil        nil
4   nil  nil        nil        nil
5   nil  nil        nil        nil
6   nil  nil        nil        nil
7   nil  nil        nil        nil
8   nil  nil        nil        nil
9   nil  nil        nil        nil
10  nil  nil        nil        nil
11  nil  nil        nil        nil
12  nil  nil        nil        nil
13  nil  nil        nil        nil
14  nil  nil        nil        nil
15  nil  nil        nil        nil
16  nil  nil        nil        nil
17  nil  nil        nil        nil
18  nil  nil        nil        nil
19  nil  nil        nil        nil
20  nil  nil        nil        nil